* {
    font-family: 'Roboto', sans-serif;
}

footer{
    background-color: #F2F2F2;
    border: 30px ;
    border-top: solid;
    color: #A1A6A0;
}

.icon_buscador {
    display: inline-block;

    width: 24px;
    height: 24px;
}

ul {
    list-style-type: none;
}

.barra_busqueda{
    min-height: 44px;
    background: #fff;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    
}

header ul li {
    display: inline-block;
    padding: 5px;
    float: right;
    margin: auto;

}
header > img {
    float:center;
}

footer ul {
    display: inline-block;
    margin: 15px 12px;
}

footer ul li {
    display: inline;
    padding: 15px;
}

header {
    height: 10vh;
}

main {
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

}

footer {
    height: auto;
    position:absolute;
    width:100vw;
    bottom: 0;
    align-items: baseline;
    padding:0px 20px;
}


button {
    margin: 11px 4px;
    background-color: #f8f9fa;
    font-size: 14px;
    padding: 0 16px;
/*para el borde del botón*/
border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    height: 36px;
    min-width: 54px;
    text-align: center;
}

input{
    width:400px;
    border:none;
    height: 25px;
}

.botones_inf{
align: justify-content;
};

